@import './base.scss';
body{display:block;padding:0;margin:0;}
*{box-sizing:bor-border;}
#app, .bg{overflow: hidden;min-width:100%;min-height:100%;min-width:100vw;min-height:100vh;}
.boxContent{overflow: hidden;width:100%;height:100%;width:100vw;height:100vh;position:relative;}
.boxConntent1{width:100%;height:100%;position:relative;overflow: auto;}
