.form-box {
  max-width: size(600);padding:0 15px;margin:auto;
  .item {
    width: 100%;margin-bottom:20px;
    .label {
      width: 100%;text-align: left;display: block;margin-bottom: 10px;font-size: 14px;font-weight: bold;
    }
    .input-box {
      width: 100%;height: 40px;position: relative;font-size:12px;
    }
  }
}
.down-arrow {
  width: 40px;height: 40px;position: absolute;top:0;right:0;border-left: 1px solid #ddd;
}
.confirm-box {
  padding: 15px 15px;
  .ul {
    .item {
      text-align: left;font-size: 14px;border-bottom: 1px solid #ddd;margin-bottom: 10px;
    }
  }
}